{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div id="welcome">
                <h1>{{ 'calculate.title'|trans }}</h1>
            </div>

            {% for troop in troops %}
                {% include '@App/templates/shortInfoTroop.html.twig' %}
            {% endfor %}

            <div class="col-md-12 pull-left">
                <ul>
                    <li>{{ 'calculate.efficiency.by_cost'|trans }}:</li>
                    <li>{{ 'calculate.efficiency.hitpoints'|trans({points: efficiency.hitPoints})|raw }}</li>
                    <li>{{ 'calculate.efficiency.ground_damage'|trans({points: efficiency.groundDamage})|raw }}</li>
                    <li>{{ 'calculate.efficiency.air_damage'|trans({points: efficiency.airDamage})|raw }}</li>
                    <li>{{ 'calculate.efficiency.structure_damage'|trans({points: efficiency.structureDamage})|raw }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
